CompileFlags:
  Add:
    - --target=arm-none-linux-gnueabihf
    - -nostdinc
    - -I/home/gm/Workspace/linux_sdk/luckfox_rk3506_sdk/kernel/arch/arm/include
    - -I/home/gm/Workspace/linux_sdk/luckfox_rk3506_sdk/kernel/arch/arm/include/generated
    - -I/home/gm/Workspace/linux_sdk/luckfox_rk3506_sdk/kernel/include
    - -I/home/gm/Workspace/linux_sdk/luckfox_rk3506_sdk/kernel/include/uapi
    - -I/home/gm/Workspace/linux_sdk/luckfox_rk3506_sdk/kernel/include/generated
    - -I/home/gm/Workspace/linux_sdk/luckfox_rk3506_sdk/kernel/include/generated/uapi
    - -I/home/gm/Workspace/linux_sdk/luckfox_rk3506_sdk/kernel/arch/arm/include/uapi
    - -I/home/gm/Workspace/linux_sdk/luckfox_rk3506_sdk/kernel/drivers
    - -D__KERNEL__
    - -DMODULE
    - -Wall
    - -Wundef
    - -Wstrict-prototypes
    - -Wno-trigraphs
    - -fno-strict-aliasing
    - -fno-common
    - -fshort-wchar
    - -std=gnu11
    - -O2
  Remove:
    - -W*
